@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(328.6364 24.4444% 35.2941%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(328.6364 24.4444% 35.2941%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(328.6364 24.4444% 35.2941%);
  --primary: hsl(8.8636 44.0000% 60.7843%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(23.0769 100.0000% 94.9020%);
  --secondary-foreground: hsl(355 23.8095% 49.4118%);
  --muted: hsl(23.0769 100.0000% 94.9020%);
  --muted-foreground: hsl(355 23.8095% 49.4118%);
  --accent: hsl(23.0769 100.0000% 94.9020%);
  --accent-foreground: hsl(328.6364 24.4444% 35.2941%);
  --destructive: hsl(0 84.2365% 60.1961%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(23.0769 100.0000% 94.9020%);
  --input: hsl(23.0769 100.0000% 94.9020%);
  --ring: hsl(8.8636 44.0000% 60.7843%);
  --chart-1: hsl(22.7586 100.0000% 88.6275%);
  --chart-2: hsl(19.2661 100% 78.6275%);
  --chart-3: hsl(15.3719 82.3129% 71.1765%);
  --chart-4: hsl(8.8636 44.0000% 60.7843%);
  --chart-5: hsl(355 23.8095% 49.4118%);
  --sidebar: hsl(20.0000 100.0000% 98.2353%);
  --sidebar-foreground: hsl(355 23.8095% 49.4118%);
  --sidebar-primary: hsl(8.8636 44.0000% 60.7843%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(23.0769 100.0000% 94.9020%);
  --sidebar-accent-foreground: hsl(328.6364 24.4444% 35.2941%);
  --sidebar-border: hsl(23.0769 100.0000% 94.9020%);
  --sidebar-ring: hsl(8.8636 44.0000% 60.7843%);
  --font-sans: var(--font-geist-sans);
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: var(--font-geist-mono);
  --radius: 0.5rem;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: hsl(20 20.9302% 8.4314%);
  --foreground: hsl(23.0769 100.0000% 94.9020%);
  --card: hsl(18.4615 18.8406% 13.5294%);
  --card-foreground: hsl(23.0769 100.0000% 94.9020%);
  --popover: hsl(20 20.9302% 8.4314%);
  --popover-foreground: hsl(23.0769 100.0000% 94.9020%);
  --primary: hsl(19.2661 100% 78.6275%);
  --primary-foreground: hsl(20 20.9302% 8.4314%);
  --secondary: hsl(355 23.8095% 49.4118%);
  --secondary-foreground: hsl(23.0769 100.0000% 94.9020%);
  --muted: hsl(17.7778 21.2598% 24.9020%);
  --muted-foreground: hsl(21.6000 17.0068% 71.1765%);
  --accent: hsl(17.7778 21.2598% 24.9020%);
  --accent-foreground: hsl(23.0769 100.0000% 94.9020%);
  --destructive: hsl(0 62.8205% 30.5882%);
  --destructive-foreground: hsl(23.0769 100.0000% 94.9020%);
  --border: hsl(17.7778 21.2598% 24.9020%);
  --input: hsl(17.7778 21.2598% 24.9020%);
  --ring: hsl(19.2661 100% 78.6275%);
  --chart-1: hsl(19.2661 100% 78.6275%);
  --chart-2: hsl(15.3719 82.3129% 71.1765%);
  --chart-3: hsl(8.8636 44.0000% 60.7843%);
  --chart-4: hsl(355 23.8095% 49.4118%);
  --chart-5: hsl(328.6364 24.4444% 35.2941%);
  --sidebar: hsl(18.4615 18.8406% 13.5294%);
  --sidebar-foreground: hsl(21.6000 17.0068% 71.1765%);
  --sidebar-primary: hsl(19.2661 100% 78.6275%);
  --sidebar-primary-foreground: hsl(20 20.9302% 8.4314%);
  --sidebar-accent: hsl(17.7778 21.2598% 24.9020%);
  --sidebar-accent-foreground: hsl(23.0769 100.0000% 94.9020%);
  --sidebar-border: hsl(17.7778 21.2598% 24.9020%);
  --sidebar-ring: hsl(19.2661 100% 78.6275%);
  --font-sans: var(--font-geist-sans);
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: var(--font-geist-mono);
  --radius: 0.5rem;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: "Afacad", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply text-[48px] leading-[48px] font-bold
  }
  h2 {
    @apply text-[30px] leading-[36px] font-semibold
  }
  h3 {
    @apply text-[24px] leading-[32px] font-semibold
  }
  h4 {
    @apply text-[20px] leading-[28px] font-semibold
  }
  p {
    @apply text-[16px] leading-[24px]
  }
}
